# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.npm

# Environment variables
.env
.env.*
*.env

# API keys and secrets
**/keys/*.json
**/credentials/*.json
secret.*
credentials.*

# OS files
.DS_Store
